*,
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
}

nav {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 8px solid black;
  border-right: 8px solid black;
}

nav span {
  display: flex;
  gap: 24px;
}

nav span a {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
  color: black;
}

nav span a:first-child {
  border-bottom: 6px solid black;
}

nav span a:hover {
  color: red;
}

nav span a::after {
  color: black;
}

main {
  margin-top: 48px;
  display: flex;
}

section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  border: 8px solid black;
}

article h2 {
  margin-bottom: 48px;
  font-size: x-large;
  text-align: center;
}

article figure {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

article figure img {
  box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 20px 20px 0px 0px rgba(0, 0, 0, 1);
}

article figure figcaption {
  font-size: medium;
}

aside {
  border: 8px solid black;
  border-left: 0px;
  padding: 24px;
}

aside h2 {
  text-align: center;
  margin-bottom: 48px;
}

aside figure {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: bold;
}

aside figure img {
  box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, 1);
}

footer {
  text-align: center;
  font-size: large;
  padding: 24px;
  border: 8px solid black;
  border-top: 0px solid black;
}
