*,
html {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif !important;
  background-color: black;
  color: white;
}

nav {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav span {
  display: flex;
  gap: 24px;
}

nav span a {
  text-decoration: none;
  font-weight: bold;
  font-size: x-large;
}

nav span a:hover {
  color: red;
}
